.icono{
    color: aliceblue;
    font-size: 25px;
}

ion-content{
    --background:rgb(161, 207, 154);
}

ion-card{
    --background: #c5acac;
}

ion-textarea{
    --background: rgb(153, 142, 176);
}