.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    //padding-top: 20px;
}

.espacios{
    padding-left: 20px;
    padding-right: 20px;
}
.pt-15{
    padding: 15px;
}